<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CredentialsSoapSerializer"
         value= "PassOne.Service.EntityCredentialsImplementation" />
    
    <add key="UserSoapSerializer"
         value ="PassOne.Service.EntityUserImplementation"/>
  </appSettings>
</configuration>